#action_dropdown {
  position: relative;
  display: inline-block;
}
#dropdownMenu {
  display: none;
  position: absolute;
}
#dropdownMenu p {
  text-align: left;
}
#action_dropdown:hover #dropdownMenu{display: block;}
